/* Filter Styling */
.check-box-label {
	font-size: 14px;
}

.card {
	border-radius: 0px;
}

.card-container {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Override BS button design */
.btn-primary {
	background-color: white !important;
	border-color: #333 !important;
	border-width: 2px;
	color: #333 !important;
	font-weight: 500;
	font-size: 14px;
	border-radius: 20px;
	float: right;
}

.btn-primary:hover {
	background-color: #333 !important;
	border-color: #333 !important;
	color: white !important;
}

/* 	Star Ratings */
.ratings {
	top: -1px;
	position: relative;
	vertical-align: middle;
	display: inline-block;
	color: #b1b1b1;
	overflow: hidden;
	font-size: 25px;
	padding-right: 15px;
}

.full-stars {
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: gold;
	font-size: 25px;
}

.empty-stars:before, .full-stars:before {
	content:"\2605\2605\2605\2605\2605";
	font-size: 25px;
}

